@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  /* background: linear-gradient(to right, #ebe0f6, #f2e7fc); */
  background: linear-gradient(to right, #e8e8e9, #f9f7fa);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: #5c159d !important;
  border-radius: 50px !important;
}

.ant-form-item-label {
  font-weight: 600 !important;
}
.ant-drawer-header {
  display: none !important;
}

.ant-menu-submenu-selected {
  .ant-menu-submenu-title {
    background-color: #5c159d;
    color: #fff;
  }
}

.ant-menu-submenu-open {
  .ant-menu-submenu-title {
    background-color: #5c159d;
    color: white !important;
  }
}

.ant-menu-submenu-active {
  .ant-menu-submenu-title {
    background-color: #5c159d;
    color: white;
  }
}

@layer components {
  .hover-fade {
    background: linear-gradient(to right, #5c159d 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: 0% 0%;
    transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .hover-fade:hover {
    background-position: -100% 0%;
    color: #5c159d;
  }
}

li {
  margin-left: 30px;
}

.ant-menu .ant-menu-submenu,
.ant-menu .ant-menu-submenu-inline {
  margin-left: 0px !important;
}

.ant-menu-submenu .ant-menu-submenu-inline .ant-menu-submenu-active {
  color: #fff;
}
